﻿
*{
	margin: 0;
	padding: 0;
}

html{ 
	font-family: 'Microsoft JhengHei';
	font-weight:normal;
}

body{
	color:  #404040;
}

header{
	height: 50px;
	position:  relative;
	width: 100%;
	background-color: #1fc6e2;
	color: #FFF;
	text-align: center;
}

header a i{
 color:  #fff;
 font-size: 30px !important;
 position: absolute;
 left:  10px;
 top: 8px;
}
header h1{
	line-height: 50px;
	font-size: 18px;
	font-weight:  normal;
}
.first-title {
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  text-align:  center;
  position:  relative;
  margin: 10px 15px;
}
.first-title p{
   margin-left: 25px;
   display:  inline-block;
   color:#007184;
   font-size: 18px;
}
.first-title .line{
	color:  #ddd;
	height:1px;
}
.first-title img {
    top: 0px;
    position:  absolute;
    display:  inline-block;
    margin-right: 5px;
    width: 20px;
}
.first-title span {
    background: #1ebce3;
    background: -moz-linear-gradient(left, #1ebce3 0%, #01dafe 100%);
    background: -webkit-linear-gradient(left, #1ebce3 0%,#01dafe 100%);
    background: linear-gradient(to right, #1ebce3 0%,#01dafe 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1ebce3', endColorstr='#01dafe',GradientType=1 );
    border-radius: 25px;
    color: #fff;
    padding: 3px 10px;
}
.second-title {
  font-size: 18px;
  padding-bottom: 15px;
  text-align:  left;
  margin: 10px 10px 0 15px;
}
.second-title p{
	color:#1fc6e2;
	font-size:18px;
}
.second-title span{
	margin-top: 10px;
	color:#777777;
	display:  block;
    text-align:  center;
}
.third-title {
  font-size:  18px;
  position:  relative;
  padding-bottom: 10px;
  text-align:  center;
}
.third-title p{
	color:#7bb72e;
}
.second-title img {
    margin-left: 5px;
    width: 35px;
}
.third-title button{
    border: 5px solid #ccc;
	border-radius: 50px;
	background: #01dafe; /* Old browsers */
	background: -moz-linear-gradient(top, #01dafe 0%, #1ebce3 100%, #1ebce3 101%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #01dafe 0%,#1ebce3 100%,#1ebce3 101%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #01dafe 0%,#1ebce3 100%,#1ebce3 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#01dafe', endColorstr='#1ebce3',GradientType=0 ); /* IE6-9 */
	width: 50%;
	color:  #fff;
	font-size: 24px;
}
.sq {
    margin: 0px 5px;
}
.sq img{
    width:100%;
}
.four-title {
    color:  #007184;
    font-size: 18px;
    position: relative;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    margin: 20px 15px;
}
.four-title img {
    left: 50%;
    top: -5px;
    position:  absolute;
    display:  inline-block;
    width: 20px;
    margin-left:  -80px;
}
.five-title {
  font-size: 18px;
  padding-bottom: 15px;
  text-align:  center;
  margin: 10px 15px;
}
.five-title p{
	color:#1fc6e2;
	font-size:18px;
}
.five-title span{
	margin-top: 10px;
	color:#777777;
	display:  block;
}
.six-box {
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #f0f0f0 101%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 0%,#f0f0f0 101%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 0%,#f0f0f0 101%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f0f0f0',GradientType=0 ); /* IE6-9 */
    margin: 10px 15px;
    border-radius:  5px;
    border:  1px solid #ccc;
}
    .six-box p {
        margin-right: 10px;
        vertical-align: super;
        display: inline;
        color: #1fc6e2;
        font-size: 18px;
    }
.six-box span{text-align:  left;font-size: 13px;display: inline-block;color:  #777;}
.six-box .top i {
    color: #007184;
    font-size: 25px;
    padding: 10px;
}

.six-title {
    position:  relative;
    text-align:  center;
}
.six-title .top{
   border-bottom: #ccc 1px solid;
   padding: 10px 15px;
}
.six-title .top a{
    top: 5px;
    right: 5px;
    position:  absolute;
}
.six-titletwo{
	padding:10px;
}
.six-titletwo p{
    display:  block;
    color: #1fc6e2;
    font-size:  18px;
}
.six-titletwo span{
    color:#404040;
}
.seven-box{
	 border-left: 1px solid #ccc;
	 border-radius: 0 0 5px 5px;
	 background: #fefefe; /* Old browsers */
	 background: -moz-linear-gradient(top, #fefefe 0%, #ededed 100%); /* FF3.6-15 */
	 background: -webkit-linear-gradient(top, #fefefe 0%,#ededed 100%); /* Chrome10-25,Safari5.1-6 */
	 background: linear-gradient(to bottom, #fefefe 0%,#ededed 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
	 overflow:  hidden;
	 margin: 5px 5px 20px;
	 border-right: 1px solid #ccc;
	 border-bottom: 1px solid #ccc;
}
.seven-title {
    position:  relative;
    color:  #fff;
    background:  #1fc6e2;
    font-size: 18px;
    text-align: center;
    line-height: 40px;
    height: 40px;
}
.seven-title img{
	width:20px;
	position:  absolute;
	left: 15px;
	top: 9px;
}
.seven-title a{
	color:  #fff;
	position: absolute;
	padding: 0 10px;
	font-size: 25px;
	right: 5px;
}
.seven-title .add i {
    font-size: 25px;
    position: absolute;
    left: 10px;
    top: 8px;
}
.list {
    border-bottom:  1px dashed #ccc;
    margin:  15px;
    overflow:  hidden;
    padding-bottom:  5px;
}
.list:last-child{
	border-bottom:none;
}
.list .left span{
 margin-top:  5px;
 display:  block;
 text-align:  center;
}
.list .left img {
    width: 60px;
    display: block;
}

.list .left {
    margin-right:  10px;
    float:  left;
}
.list .right{
	float:  left;
	margin: 10px 5px;
    vertical-align: middle;
}
.list .right span {
    display:  block;
    color:  #ff2a00;
}
.opps {
    margin: 15px 15px 30px;
    color: #ff2a00;
}

.eight_title {
    padding:  20px;
    font-size:  18px;
    line-height: 30px;
}
.eight_title span{
    font-size: 30px;
    color: #20c6e2;
    font-weight:  bold;
    margin: 0 10px;
}

.width33 {
    text-align:  center;
    width:  33.3%;
    float:  left;
}
.width33 img{
    height: 80px;
}
.width33 p{
    padding-bottom:  10px;
    margin-top: 20px;
}
.seven-box p.inside{
	line-height: 25px;
	padding:  15px;
	font-size:  15px;
}