﻿@model HighBonus.Models.HighPointModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background-color: #FFF;
        /*font-family: 微軟正黑體, 新細明體, Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;*/
        font-family: 微軟正黑體;
    }

    h5 {
        /*font-size: 2.0rem;*/
        font-family: 微軟正黑體;
    }

    table, tr, td, h4, img {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }

    label {
        margin: 0;
        font-size: 1.6rem;
        color: white;
    }

    h5 {
        margin: 3px 0 3px 0;
        /*font-weight:lighter;*/
    }

    .titletext {
        padding: 10px 10px 10px 10px;
    }

    .detail {
        background-color: #ebebeb;
        border: 1px #ffffff solid;
        padding-left: 15px;
        padding-right: 15px;
        /*text-align: justify;*/
        text-justify: inter-ideograph;
    }

    .picture {
        background-color: #ffffff;
        border: 1px #ebebeb solid;
    }

    .visit {
        background-color: #ec686a;
        color: white;
        font-size: 1.4rem;
        border: 1px solid #ec686a;
        border-radius: 8px;
    }

        .visit:hover {
            background-color: #717171;
            border: 1px solid #717171;
        }

    .visitc {
        background-color: #717171;
        color: white;
        font-size: 1.4rem;
    }

    .visitcollection {
        color: white;
    }

        .visitcollection:hover {
            color: #ff8a00;
        }
</style>
<table>
    <tr>
        <td colspan="2" class="titletext"><h4 style="font-weight:bold;">親愛的車主您好：</h4></td>
    </tr>
    <tr>
        <td colspan="2" class="titletext" style="font-weight:lighter;"><h4>TOYOTA貼心提醒您還有<span style="color:#fe0000;">@(Model.POINT.ToString("#,###"))點</span>的利high金，建議折抵的品項提供您參考：</h4></td>
    </tr>
    <tr class="visitc">
        <td class="fittext titletext"><h4 style="color:white"><b>TOYOTA精品</b></h4></td>
        <td align="right"><label id="collection" class="visitcollection">了解更多<span style="font-size:2.2rem"> 〉</span></label></td>
    </tr>
    <tr>
        <td width="50%" class="picture" align="center"><img width="100%" src="@Model.IMG1" /></td>
        <td width="50%" align="center" class="fittext detail">
            @if (Model.PARTNM1.Length > 16)
            {
                <h5>@Model.PARTNM1</h5>
            }
            else
            {
                <h4>@Model.PARTNM1</h4>
            }
            <h5 style="color:#ff8a00;">兌換點數 @Model.POINT1.ToString("#,###") 點</h5>
            @if (Model.POINT < Model.POINT1)
            {
                <h5 style="color:#fe0000;">差額點數 @((Model.POINT1 - Convert.ToInt32(Model.POINT)).ToString("#,###")) 點</h5>
            }
        </td>
    </tr>
    @if (Model.POINT2 > 0)
    {
        <tr>
            <td width="50%" class="picture" border='1' align="center"><img width="100%" src="@Model.IMG2" /></td>
            <td width="50%" align="center" class="fittext detail" border='1'>
                @if (Model.PARTNM2.Length > 16)
                {
                    <h5>@Model.PARTNM2</h5>
                }
                else
                {
                    <h4>@Model.PARTNM2</h4>
                }
                <h5 style="color:#ff8a00;">兌換點數 @Model.POINT2.ToString("#,###") 點</h5>
                @if (Model.POINT < Model.POINT2)
                {
                    <h5 style="color:#fe0000;">差額點數 @((Model.POINT2 - Model.POINT).ToString("#,###")) 點</h5>
                }
            </td>
        </tr>
    }
    @if (Model.POINT3 > 0)
    {
        <tr>
            <td width="50%" class="picture" align="center"><img width="100%" src="@Model.IMG3" /></td>
            <td width="50%" align="center" class="fittext detail">
                @if (Model.PARTNM3.Length > 16)
                {
                    <h5>@Model.PARTNM3</h5>
                }
                else
                {
                    <h4>@Model.PARTNM3</h4>
                }
                <h5 style="color:#ff8a00;">兌換點數 @Model.POINT3.ToString("#,###") 點</h5>
                @if (Model.POINT < Model.POINT3)
                {
                    <h5 style="color:#fe0000;">差額點數 @((Model.POINT3 - Model.POINT).ToString("#,###")) 點</h5>
                }
            </td>
        </tr>
    }
    <tr>
        <td colspan="2" align="center">
            <table width="88%">
                <tr>
                    <td width="1%" valign="top"><h5>※</h5></td>
                    <td width="99%">
                        <h5>您也可以用<span style="color:#fe0000;">利high金+現金加價購</span>喔！</h5>
                        <h5>歡迎洽詢服務人員。</h5>
                    </td>
                </tr>
                <tr>
                    <td width="1%" valign="top"><h5>※</h5></td>
                    <td width="99%">
                        <h5>可兌換精品以現場為主，請與服務廠人員確認。</h5>
                    </td>
                </tr>
                <tr>
                    <td width="1%" valign="top"><h5>※</h5></td>
                    <td width="99%">
                        <h5>若有下列情形時，即取消點數：</h5>
                        <h5>(1)一年以上未入廠車輛</h5>
                        <h5>(2)過戶車主未請求移交下一位車主時。</h5>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr align="center" onclick="window.open('http://www.toyota.com.tw/TOYOTA_Loyalty_Program/highbonus.html', '_self')">
        <td colspan="2">
            <div style="padding-bottom :5px;width:80%;margin:0 auto;">
                <label class="form-control btn-block visit" style="color:white;">
                    更多利high金可折抵項目
                </label>
            </div>
        </td>
    </tr>
</table>
<input type="hidden" id="InboxId" value="@Model.Id" />
<script>
    $(function () {
        //類別0：定保；1：保險函；2：感謝函; 3:機油券; 4:利high金; 5:利high金到期提醒; 6:利high金100
	new Fingerprint2().get(function(canvasID, components) { 
		$.ajax({
		    url: "/regularcare/PushClick/Add/",
		    type: "POST",
		    data: {
		        "DXID": '@Model.DXID',
		        "Type": 4,
		        "CanvasID": canvasID
		    },
		    dataType: "json"
		});
	});

        var _winwh = parseInt($(window).width()) / 2;//获取浏览器的宽度 /2
        $(".picture img").each(function (i) {
            var img = $(this);
            var realWidth;//真实的宽度
            var realHeight;//真实的高度
            //这里做下说明，$("<img/>")这里是创建一个临时的img标签，类似js创建一个new Image()对象！
            $("<img/>").attr("src", $(img).attr("src")).load(function () {
                /*
                  如果要获取图片的真实的宽度和高度有三点必须注意
                  1、需要创建一个image对象：如这里的$("<img/>")
                  2、指定图片的src路径
                  3、一定要在图片加载完成后执行如.load()函数里执行
                 */
                realWidth = this.width;
                realHeight = this.height;
                debugger;
                //如果真实的宽度大于浏览器的宽度就按照100%显示
                if (realWidth >= realHeight) {//if (realWidth >= _winwh) {
                    $(img).css("width", _winwh + 'px').css("height", "auto");
                    var _high = (_winwh - _winwh / realWidth * realHeight) / 2;
                    $(img).before("<div style='width:" + _winwh + "px;height:" + _high + "px;'> </div>")
                    $(img).after("<div style='width:" + _winwh + "px;height:" + _high + "px;'> </div>")
                }
                else {//如果小于浏览器的宽度按照原尺寸显示
                    //$(img).css("width", realWidth + 'px').css("height", realHeight + 'px');
                    $(img).css("width", "auto").css("height", _winwh + 'px');
                }
            });
        });

    });//documentready end

    $("#collection").on("click", function () {
        $.ajax({
            url: "@(Url.Content("~/App/HighPoint/ColloctionUrl"))",
            type: "post",
            data: { Id: $("#InboxId").val() },//"Id=" + $("#InboxId").val(),
            dataType: "json",
            //timeout: 10000,
            //cache: false,
            //contentType: false,
            //processData: false,
            success: function (data) {
                window.open(data, '_self')
            },
            error: function (error) {
                //window.open('http://www.toyota.com.tw/collection.aspx', '_self')
            },
            complete: function () {
            }
        });
    });

</script>
