﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <!-- jQuery -->
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/FitText.js")"></script>

    <!-- Bootstrap 3 http://getbootstrap.com/ -->
    <link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/bootstrap.css")" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/bootstrap.js")"></script>
    <script src="https://bigdatacdn.azureedge.net/public/javascripts/canvas2.min.js"></script>
    <style type="text/css">
        body {
            margin: 0;
            background-color: #FFF;
            font-family: 微軟正黑體, 新細明體, Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;
        }
    </style>
</head>
<body>
@RenderBody()
        <footer>
        </footer>
</body>
</html>