﻿@model HighBonus.Models.HighBonusGiveModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body {
        margin: 0;
        padding: 0;
        background-color: #FFF;
        /*font-family: 微軟正黑體, 新細明體, Arial, Helvetica, sans-serif, Verdana, Geneva, sans-serif;*/
        font-family: 微軟正黑體;
    }

    h5 {
        /*font-size: 2.0rem;*/
        font-family: 微軟正黑體;
    }

    table, tr, td, h4, img {
        border-collapse: collapse;
        margin: 0;
        padding: 0;
    }

    label {
        margin: 0;
        font-size: 1.6rem;
        color: white;
        line-height: 24px;
    }

    h5 {
        margin: 3px 0 3px 0;
        /*font-weight:lighter;*/
    }

    .titletext {
        padding: 10px 10px 10px 10px;
    }

    .detail {
        background-color: #ebebeb;
        border: 1px #ffffff solid;
        padding-left: 15px;
        padding-right: 15px;
        /*text-align: justify;*/
        text-justify: inter-ideograph;
    }

    .picture {
        background-color: #ffffff;
        border: 1px #ebebeb solid;
    }

    .visit {
        background-color: #ec686a;
        color: white;
        font-size: 1.4rem;
        border: 1px solid #ec686a;
        border-radius: 8px;
    }

    .visit:hover {
        /*background-color: #717171;*/
        border: 1px solid #717171;
    }

    .visitc {
        background-color: #717171;
        color: white;
        font-size: 1.4rem;
    }

    .visitcollection {
        color: white;
    }

    .visitcollection:hover {
        color: #ff8a00;
    }

    .fixed
    {
        position:fixed;
        bottom:0px;
    }
</style>
<table>
    <tr>
        <td colspan="2" class="visitc">
            <img style="width: 100%;" src="~/Content/Give.jpg" />
        </td>
    </tr>
    <tr>
        <td colspan="2" class="titletext"><h4 style="font-weight:bold;">親愛的車主您好：</h4></td>
    </tr>
    <tr>
        <td colspan="2" class="titletext" style="font-weight: lighter;">
            <h4>🎉恭喜 @(Model.LICSNO) 於 @(Model.PROCDT.ToString("M/d")) 成功認證驅動城市APP，送您認證禮「利high金100點*」，贈送點數已入點，歡迎您回廠保修累積利high金並兌換多項好禮🎁！ TOYOTA給您最超值的回饋及最專業的服務！ 😆
                <br/>
                <br/>
驅動城市提供驗證車主全方位功能，讓您輕鬆掌握行車資訊！
                <br/>
📍隨時查詢愛車資訊📝
                <br/>
📍定保時間提醒⏰
                <br/>
📍線上預約定保📲
                <br/>
📍專屬尊寵優惠券💌
                <br/>
📍道路救援服務🚨
                <br />
                <br/>
了解更多驅動城市👇
                <br />
<a href="https://goo.gl/na3fre">https://goo.gl/na3fre</a>
                <br />
了解更多利high金👇
                <br />
<a href="https://goo.gl/N8jXkK">https://goo.gl/N8jXkK</a>
                <br />
                <br />
*：僅首次認證贈送，每車號限贈乙次次。</h4>
                <br />
                <br />
                <br />
        </td>
    </tr>
    <tr align="center" onclick="window.open('http://www.toyota.com.tw/TOYOTA_Loyalty_Program/highbonus.html', '_self')">
        <td colspan="2">
        </td>
    </tr>
</table>
<div style="height: 40px;">
</div>
<div class="fixed" style="width: 100%; background-color: #ffffff;">
    <div style="margin: 0 20% 10px 20%; text-align: center" onclick="window.open('/regularcare/DM/Order?Type=6&DXID=@Model.DXID&LICSNO=@Model.LICSNO&PUSHID=@Model.Id&IsOrderByLicsno=@(Model.IsOrderByLicsno.ToString())', '_self')">
        <label class="form-control btn-block visit color:white;">
            立即體驗驅動城市
        </label>
    </div>
</div>
<input type="hidden" id="InboxId" value="@Model.Id" />
<script>
    $(function () {
        //類別0：定保；1：保險函；2：感謝函; 3:機油券; 4:利high金; 5:利high金到期提醒; 6:利high金100
	new Fingerprint2().get(function(canvasID, components) { 
		$.ajax({
		    url: "/regularcare/PushClick/Add/",
		    type: "POST",
		    data: {
		        "DXID": '@Model.DXID',
		        "Type": 6,
		        "CanvasID": canvasID
		    },
		    dataType: "json"
		});
	});

        var _winwh = parseInt($(window).width()) / 2;//获取浏览器的宽度 /2
        $(".picture img").each(function (i) {
            var img = $(this);
            var realWidth;//真实的宽度
            var realHeight;//真实的高度
            //这里做下说明，$("<img/>")这里是创建一个临时的img标签，类似js创建一个new Image()对象！
            $("<img/>").attr("src", $(img).attr("src")).load(function () {
                /*
                  如果要获取图片的真实的宽度和高度有三点必须注意
                  1、需要创建一个image对象：如这里的$("<img/>")
                  2、指定图片的src路径
                  3、一定要在图片加载完成后执行如.load()函数里执行
                 */
                realWidth = this.width;
                realHeight = this.height;
                debugger;
                //如果真实的宽度大于浏览器的宽度就按照100%显示
                if (realWidth >= realHeight) {//if (realWidth >= _winwh) {
                    $(img).css("width", _winwh + 'px').css("height", "auto");
                    var _high = (_winwh - _winwh / realWidth * realHeight) / 2;
                    $(img).before("<div style='width:" + _winwh + "px;height:" + _high + "px;'> </div>")
                    $(img).after("<div style='width:" + _winwh + "px;height:" + _high + "px;'> </div>")
                }
                else {//如果小于浏览器的宽度按照原尺寸显示
                    //$(img).css("width", realWidth + 'px').css("height", realHeight + 'px');
                    $(img).css("width", "auto").css("height", _winwh + 'px');
                }
            });
        });

    });//documentready end

    $("#collection").on("click", function () {
        $.ajax({
            url: "@(Url.Content("~/App/HighPoint/ColloctionUrl"))",
            type: "post",
            data: { Id: $("#InboxId").val() },//"Id=" + $("#InboxId").val(),
            dataType: "json",
            //timeout: 10000,
            //cache: false,
            //contentType: false,
            //processData: false,
            success: function (data) {
                window.open(data, '_self')
            },
            error: function (error) {
                //window.open('http://www.toyota.com.tw/collection.aspx', '_self')
            },
            complete: function () {
            }
        });
    });

</script>
