﻿<div class="lightbox" id="fix1">
    <div class="inner">
        <div class="lightbox-top"><span>輪胎</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 5px 0px;">
                ☛汽車在行駛過程中，若輪胎胎紋深度不足，將影響輪胎與道路之磨擦力，造成煞車距離延長而發生危險；在雨天行駛時，若胎紋過淺，會降低輪胎排水性能，易導致打滑失控甚至爆胎。
            </div>

            <img src="@(Url.Content("~/Images/pic.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                
                <font color="red" style="font-weight:normal; font-size:13px">
                    ❈提醒您，依法規定胎紋深度不得低於1.6mm。
                    <br />
                    ❈車主手冊建議每萬公里或每半年檢查。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
    </div>
</div>
<div class="lightbox" id="fix2">
    <div class="inner">
        <div class="lightbox-top"><span>煞車塊（前）</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 5px 0px;">
                ☛什麼是煞車塊？
            </div>
            <div style="padding: 5px 0px 10px 0px;">
                當駕駛踩下煞車踏板，煞車塊與煞車圓盤接觸所產生的摩擦作用會使車速慢下，隨時間經過，這樣的過程會逐漸磨耗煞車塊。
            </div>
            <img src="@(Url.Content("~/Images/前後煞車塊.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                <font color="red" style="font-weight:normal; font-size:13px">
                    ❈車主手冊建議每萬公里或每半年檢查。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
    </div>
</div>
<div class="lightbox" id="fix3">
    <div class="inner">
        <div class="lightbox-top"><span>煞車塊（後）</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 5px 0px;">
                ☛什麼是煞車塊？
            </div>
            <div style="padding: 5px 0px 10px 0px;">
                當駕駛踩下煞車踏板，煞車塊與煞車圓盤接觸所產生的摩擦作用會使車速慢下，隨時間經過，這樣的過程會逐漸磨耗煞車塊。
            </div>
            <img src="@(Url.Content("~/Images/前後煞車塊.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                <font color="red" style="font-weight:normal; font-size:13px">
                    ❈車主手冊建議每萬公里或每半年檢查。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
        </div>
</div>
<div class="lightbox" id="fix4">
    <div class="inner">
        <div class="lightbox-top"><span>電瓶</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 10px 0px;">
                ☛您愛車的電瓶壽命會因為使用頻率和行車距離，還有其他因素而受到影響，如行駛/用車環境等：
            </div>
            <img src="@(Url.Content("~/Images/電瓶.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                <font color="red" style="font-weight:normal; font-size:13px">
                    ❈車主手冊建議每萬公里或每半年檢查。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
        </div>
</div>
<div class="lightbox" id="fix5">
    <div class="inner">
        <div class="lightbox-top"><span>燃油濾清器</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 5px 0px;">
                ☛什麼是燃油濾清器(燃油芯)？
            </div>
            <div style="padding: 5px 0px 5px 0px;">
                燃油濾清器的作用是去除燃油中的顆粒物、水份及不潔物，以防止燃油系統精密部件受到磨損及發生故障。
            </div>
            <div style="padding: 5px 0px 5px 0px;">
                ☛燃油濾清器為什麼要定期更換？
            </div>
            <div style="padding: 5px 0px 10px 0px;">
                汽車使用過程中，汽油中的雜質會進入油箱，燃油濾清器會出現髒污，附滿渣滓，並大大降低過濾效果。如果不及時更換，會影響汽車性能，導致油路不暢，汽車加油沒力等現象。
            </div>
            <img src="@(Url.Content("~/Images/燃油濾清器.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                
                <font color="red" style="font-weight:normal; font-size:13px" >
                    ❈若車主要回廠更換燃油濾清器，建議油箱油量低於3/4，以利更換。
                    <br />
                    ❈車主手冊建議每8萬公里或8年檢查。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
        </div>
</div>
<div class="lightbox" id="fix6">
    <div class="inner">
        <div class="lightbox-top"><span>火星塞</span><img src="@(Url.Content("~/Images/close.png"))" class="close"></div>
        <div class="content">
            <div style="padding: 0px 0px 10px 0px;">
                ☛您愛車的火星塞壽命會因為使用頻率和行車距離，還有其他因素而受到影響，如行駛/用車環境等：
            </div>
            <img src="@(Url.Content("~/Images/火星塞.jpg"))">
            <div style="padding: 5px 0px 0px 0px;">
                <font color="red" style="font-weight:normal; font-size:13px">
                    ❈車主手冊建議每10萬公里更換。
                </font>
            </div>
            <hr>
            <h2>為什麼您需要正廠零件？</h2>
            <img src="@(Url.Content("~/Images/toyota.png"))" class="toyota-img">
        </div>
    </div>
</div>
