﻿@model HighBonus.Models.WaitRepairModel
@{
    Layout = null;
}
<!doctype html>
<html>
<head>
    <title></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
</head>
<body>
    <table class="major-banner">
        <tr>
            <td>
                <div class="container top pad-lr">
                    <div class="flex4-column white-text font20">週期零件更換提醒<img src="@(Url.Content("~/Images/sound.png"))" class="mar-l10"></div>
                    <div class="flex2-column white-text font12 text-right">@(Model.PROCDT.ToString("yyyy-MM-dd"))</div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="container second">
                    <div class="flex2-column pad-r5"><img src="@(Url.Content("~/Images/car_bg.png"))" width="100%"></div>
                    <div class="flex2-column pad-r20">
                        <span class="font15 display-bl">TOYOTA 車主您好！</span>
                        <span class="font14 gary-title">
                            根據您愛車@(Model.LICSNO_F)的行駛時間及里程判斷，建議回廠檢查/更換以下週期性零件，除了能確保行車安全、更可以延續愛車壽命。
                        </span>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                @if (Model.JLCDT != null || !string.IsNullOrEmpty(Model.JMV))
                {
                    <div class="container third pad-lr10 fix1">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon1.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">輪胎</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title ">
                                @if (Model.JLCDT.HasValue)
                                {
                                    <span class="display-bl">
                                        已使用時間為：@((int) ((DateTime.Today - Model.JLCDT.Value).TotalDays / 30))月
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(Model.JMV))
                                {
                                    <span class="display-bl">
                                        前次量測深度：@(Model.JMV)mm
                                    </span>
                                }
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
                @if (Model.KLCDT != null || !string.IsNullOrEmpty(Model.KMV))
                {
                    <div class="container third pad-lr10 fix2">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon2.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">煞車塊（前）</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title ">
                                @if (Model.KLCDT.HasValue)
                                {
                                    <span class="display-bl">
                                        已使用時間為：@((int)((DateTime.Today - Model.KLCDT.Value).TotalDays / 30))月
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(Model.KMV))
                                {
                                    <span class="display-bl">
                                        前次量測深度：@(Model.KMV)mm
                                    </span>
                                }
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
                @if (Model.LLCDT != null || !string.IsNullOrEmpty(Model.LMV))
                {
                    <div class="container third pad-lr10 fix3">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon3.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">煞車塊（後）</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title ">
                                @if (Model.LLCDT.HasValue)
                                {
                                    <span class="display-bl">
                                        已使用時間為：@((int)((DateTime.Today - Model.LLCDT.Value).TotalDays / 30))月
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(Model.LMV))
                                {
                                    <span class="display-bl">
                                        前次量測深度：@(Model.LMV)mm
                                    </span>
                                }
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
                @if (Model.ILCDT != null || !string.IsNullOrEmpty(Model.IMV))
                {
                    <div class="container third pad-lr10 fix4">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon4.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">電瓶</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title ">
                                @if (Model.ILCDT.HasValue)
                                {
                                    <span class="display-bl">
                                        已使用時間為：@((int)((DateTime.Today - Model.ILCDT.Value).TotalDays / 30))月
                                    </span>
                                }
                                @if (!string.IsNullOrEmpty(Model.IMV))
                                {
                                    <span class="display-bl">
                                        前次量測數值：@(Model.IMV)  CCA
                                    </span>
                                }
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
                @if (Model.DLCDT != null)
                {
                    <div class="container third pad-lr10 fix5">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon5.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">燃油<br>濾清器</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title display-bl">
                                已使用時間為：@((int)((DateTime.Today - Model.DLCDT.Value).TotalDays / 30))月
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
                @if (Model.MCLDT != null)
                {
                    <div class="container third pad-lr10 fix6">
                        <div class="flex2-column mar-125">
                            <img src="@(Url.Content("~/Images/wicon8.png"))" style="width: 84%; display: block; margin-left: auto; margin-right: auto;">
                            <div class="font18 text-center" style="margin: 10px;">火星塞</div>
                        </div>
                        <div class="flex4-column line-h18"; style="padding: 0px 0px 0px 10px;">
                            <span class="fontRep1 gary-title display-bl">
                                已使用時間為：@((int)((DateTime.Today - Model.MCLDT.Value).TotalDays / 30))月
                            </span>
                            <span class="fontRep1 gary-title">根據行駛時間/里程判斷<br><span class="fontRep1 red-title">建議回廠檢查更換</span></span>
                        </div>
                        <div class="flexnone open"><img src="@(Url.Content("~/Images/arrow.png"))" width="70%;"></div>
                    </div>
                }
            </td>
        </tr>
        <tr>
            <td>
                <div class="four">
                    <div class="red-bigtitle">您的前次保養資訊</div>
                    <div class="container pad-lr">
                        <div class="flex2-column mar-l25"><img src="@(Url.Content("~/Images/person.png"))" width="100%"></div>
                        <div class="flex4-column mar-l25">
                            <span class="fontRep1 gary-title text-left">
                                @Model.FXDTYY<br>
                                服務據點：@Model.LSFXBRNH<br>
                                定保里程：@(Model.LSFXKM)km
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="five">
                    <div class="red-bigtitle">利high好康</div>
                    <!--<div class="red-bigtitle"><img src="@(Url.Content("~/Images/money.png"))" width="15px" style="top: 4px; left: 15px; position: absolute;">利high好康<img src="@(Url.Content("~/Images/arrow-down.png"))" width="20px" style="top: 5px; right: 15px; position: absolute;" class="dop-down-top"></div>-->
                    <div class="drop-down">
                        <div class="gary-title pad-lr25 mar-l10 mar-bot20 fontRep1">您已累計<span class="red-title" style="font-size: 16px;">@(Model.POINT.ToString("#,###"))</span>點利high金<br>歡迎回廠兌換精選商品：</div>
                        <div class="container">
                            <span class="flex2-column pad-r5 border-r ">
                                <img src="@Model.IMG1" width="100%">
                            </span>
                            <span class="flex2-column pad-r5 border-r ">
                                <img src="@Model.IMG2" width="100%">
                            </span>
                            <span class="flex2-column pad-r5">
                                <img src="@Model.IMG3" width="100%">
                            </span>
                        </div>
                        <div class="container">
                            <span class="flex2-column pad-r5 border-r ">
                                <span class="display-bl text-center font10">@(Model.PARTNM1)</span>
                            </span>
                            <span class="flex2-column pad-r5 border-r ">
                                <span class="display-bl text-center font10">@(Model.PARTNM2)</span>
                            </span>
                            <span class="flex2-column pad-r5">
                                <span class="display-bl text-center font10">@(Model.PARTNM3)</span>
                            </span>
                        </div>
                        <div class="container font14">
                            <span class="flex2-column pad-r5 border-r ">
                                <span class="red-title display-bl text-center font16">
                                    @((Model.POINT1 ?? 0).ToString("#,###"))點
                                </span>
                                <span class="text-center display-bl gary-title">
                                    @if (Model.EXTRAAMT1 > 0)
                                    {
                                        <span class="text-center display-bl gary-title">
                                            +@((Model.EXTRAAMT1).ToString("#,###"))元
                                        </span>
                                        <span class="text-center display-bl gary-title">
                                            元
                                        </span>
                                    }
                                    else
                                    {
                                        if (Model.POINT < Model.POINT1)
                                        {
                                            <span class="text-center display-bl gary-title">
                                                尚差@(((Model.POINT1 ?? 0) - Model.POINT).ToString("#,###"))點
                                            </span>
                                        }
                                    }
                                </span>
                            </span>
                            <span class="flex2-column pad-r5 border-r ">
                                <span class="red-title display-bl text-center font16">@((Model.POINT2 ?? 0).ToString("#,###"))點</span>
                                <span class="text-center display-bl gary-title">
                                    @if (Model.EXTRAAMT2 > 0)
                                    {
                                        <span class="text-center display-bl gary-title">
                                            +@((Model.EXTRAAMT2).ToString("#,###"))元
                                        </span>
                                    }
                                    else
                                    {
                                        if (Model.POINT < Model.POINT2)
                                        {
                                            <span class="text-center display-bl gary-title">
                                                尚差@(((Model.POINT2 ?? 0) - Model.POINT).ToString("#,###"))點
                                            </span>
                                        }
                                    }
                                </span>
                            </span>
                            <span class="flex2-column pad-r5">
                                <span class="red-title display-bl text-center font16">@((Model.POINT3 ?? 0).ToString("#,###"))點</span>
                                <span class="text-center display-bl gary-title">
                                    @if (Model.EXTRAAMT3 > 0)
                                    {
                                        <span class="text-center display-bl gary-title">
                                            +@((Model.EXTRAAMT3).ToString("#,###"))元
                                        </span>
                                    }
                                    else
                                    {
                                        if (Model.POINT < Model.POINT3)
                                        {
                                            <span class="text-center display-bl gary-title">
                                                尚差@(((Model.POINT3 ?? 0) - Model.POINT).ToString("#,###"))點
                                            </span>
                                        }
                                    }
                                </span>
                            </span>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <td></td>
        </tr>
    </table>
    <a class="container six" href="/regularcare/DM/Order?Type=10&DXID=@Model.DXID&LICSNO=@Model.LICSNO_F&PUSHID=@Model.Id&IsOrderByLicsno=true&Os=@Model.Os">
        <div class="white-text font18">
            <span class="red-title">
            </span>立即預約回廠 <span class="red-title"></span>
        </div>
    </a>
    @Html.Partial("Dialog")
</body>
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(function () {
        $(".fix1").on("click", function () {
            $("#fix1").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });

        $(".fix2").on("click", function () {
            $("#fix2").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });

        $(".fix3").on("click", function () {
            $("#fix3").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });

        $(".fix4").on("click", function () {
            $("#fix4").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });

        $(".fix5").on("click", function () {
            $("#fix5").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });
        $(".fix6").on("click", function () {
            $("#fix6").show();
            $(".content").css("max-height", $(window).height() - 110);
            $(".close").on("click", CLOSECLOSE);
        });

        function CLOSECLOSE() {
            $(".lightbox").hide();
            $(".close").off("click");
        }
    });

    $(function () {
        $(".dop-down-top").click(function () {
            $(".drop-down").slideToggle(500);
        });

    });
</script>
</html>
<style>
    * {
        padding: 0;
        margin: 0;
        font-weight: bold;
    }

    .container {
        display: -webkit-flex;
        display: flex;
    }

    .flex2-column {
        -webkit-flex: 1;
        flex: 1;
    }

    .flex4-column {
        -webkit-flex: 2;
        flex: 2;
    }

    .flexnone {
        -webkit-flex: none;
        flex: none;
        width: 30px;
    }

    .font16 {
        font-size: 16px;
    }

    .font14 {
        font-size: 14px;
        font-weight: bold;
    }

    .font15 {
        font-size: 15px;
        font-weight: bold;
    }

    .font18 {
        font-size: 18px;
        font-weight: bold;
    }

    .font22 {
        font-size: 22px;
    }

    .font20 {
        font-size: 20px;
    }

    .font10 {
        font-size: 10px;
    }

    .font12 {
        font-size: 12px;
    }

    .font-w {
        font-weight: bold;
    }

    .white-text {
        color: #fff;
    }

    .gary-title {
        color: #4e4d4e;
    }

    .red-title {
        color: #E7211B;
    }

    .text-right {
        text-align: right;
    }

    .text-center {
        text-align: center;
    }

    .pad-lr {
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        padding: 10px 0;
    }

    .pad-lr10 {
        padding: 20px 10px;
    }

    .pad-lr5 {
        padding: 0 5px;
    }

    .pad-r15 {
        padding-right: 15px;
    }

    .pad-lr20 {
        padding: 0 20px;
    }

    .pad-lr25 {
        padding: 0;
    }

    .pad-r5 {
        padding-right: 5px;
        padding-top: 10px;
    }

    .pad-r20 {
        padding-right: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mar-l10 {
        margin-left: 10px;
    }

    .mar-l25 {
        margin-left: 15px;
    }

    .mar-bot20 {
        margin-bottom: 20px;
    }

    .display-bl {
        display: block;
    }

    .line-h18 {
        line-height: 18px;
    }

    .border-r {
        border-right: 1px solid #B4B3B3;
    }

    .top {
        background: #E7211B;
        padding: 10px;
    }

        .top img {
            width: 20px;
        }

    .second {
        -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        display: flex;
        align-items: center;
        background: #dbdbdb;
        text-align: justify;
    }

    .third {
        -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        display: flex;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
    }

    .four {
        padding: 20px 20px;
        background: #f1f1f1;
    }

    .five {
        padding: 20px 20px;
        margin-bottom: 70px;
    }

        .five a {
            padding: 10px;
            text-decoration: none;
        }

    .six {
        left: 1%;
        margin: 5px auto;
        width: 97%;
        border-radius: 5px;
        position: fixed;
        text-decoration: none;
        padding: 8px 0;
        background: #000;
        -webkit-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        -moz-box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        box-shadow: 0 5px 8px rgba(0,0,0,0.14);
        display: flex;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        bottom: 0;
    }

    .red-bigtitle {
        position: relative;
        color: #ba1c23;
        padding: 5px;
        border-radius: 50px;
        -webkit-align-items: center;
        align-items: center;
        -webkit-justify-content: center;
        justify-content: center;
        display: -webkit-flex;
        display: flex;
        border: 2px solid #c01934;
        margin-bottom: 10px;
    }

    .lightbox {
        overflow-y: hidden;
        position: fixed; /* position 可以讓 div 跳脫原本在 HTML 內的位置 */
        top: 0;
        z-index: 888;
        width: 100%; /* 寬高 100% 整個蓋住 */
        height: 100%;
        background-color: rgba(0,0,0,0.7);
        display: none; /* 把主選單先關掉 */
    }

    .lightbox-top {
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        background: #666767;
        padding: 10px;
        color: #fff;
        font-size: 18px;
    }

        .lightbox-top img.close {
            top: 12px;
            position: absolute;
            right: 15px;
            width: 20px;
        }

    .lightbox-top {
        letter-spacing: 1px;
        text-align: center;
        position: relative;
        background: #666767;
        padding: 10px;
        color: #fff;
        font-size: 18px;
    }

        .lightbox-top img.close {
            top: 12px;
            position: absolute;
            right: 15px;
            width: 20px;
        }

    .content {
        -webkit-border-bottom-right-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomright: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        position: relative;
        padding: 10px;
        color: #7f8080;
        background: #e6e6e5;
        font-weight: 300;
        overflow-y: auto;
    }

        .content img {
            padding: 0;
            width: 100%;
        }

    hr {
        margin: 10px 0;
    }

    .inner {
        font-size: 15px;
        margin: 0 auto;
        width: 95%;
        height: 91%;
        margin-top: 20px;
    }

    .content p {
        bottom: -5px;
        position: absolute;
        width: 50%;
        right: 35px;
    }

    .content h2 {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .major-banner {
        position: relative;
        height: 100%;
        width: 100%;
    }

    .fixd {
        position: fixed;
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    .fontRep1 {
        font-size: 14px;
    }

    .fontRep2 {
        font-size: 16px;
    }

    @@media screen and (min-width: 400px) {
        .fontRep1 {
            font-size: 16px;
        }

        .fontRep2 {
            font-size: 18px;
        }
    }

    @@media screen and (min-width: 500px) {
        .fontRep1 {
            font-size: 18px;
        }

        .fontRep2 {
            font-size: 20px;
        }
    }
</style>
