﻿@model HighBonus.Models.RegCareModel
@{
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>愛車服務</title>

    <!--請在這裡以下開始寫-->
    <!-- -->
    <link href="~/Content/layout.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="https://bigdatacdn.azureedge.net/public/javascripts/canvas2.min.js"></script>
</head>
<body>
    @*<header>
            <a href="#"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
            <h1>愛車服務</h1>
        </header>*@
    <div class="container">
        @*<div class="first-title">
            <img src="@(Url.Content("~/Images/icon1.png"))"><p>@(Model.PROCDT.ToString("yyyy.MM"))月 定保提醒</p> <span>@(Model.PROCDT.ToString("yyyy.MM.dd"))</span>
        </div>*@
        <div class="second-title" style="font-size: 24px;">
            <p>TOYOTA 車主您好!</p>
            <p style="font-size: 16px; color: #404040;">
                不論您是否時常開車，都建議您每半年或 1 萬公里回廠定期保養，以確保您的愛車保持在最佳狀態。
            </p>
            <span style="font-size: 16px;">@(Model.BRNHSRV) 敬邀預約<a href="tel:@Model.BRTEL"><img src="@(Url.Content("~/Images/icon2.png"))"></a></span>
        </div>
        <div class="third-title">
            <a href="/regularcare/DM/Order?Type=10&DXID=@Model.DXID&LICSNO=@Model.LICSNO_F&PUSHID=@Model.Id&IsOrderByLicsno=true&Os=@Model.Os">
                <button>預約保養</button>
            </a>
        </div>
        <div class="sq"><img src="@(Model.ContentIMG??Url.Content("~/Images/0323-A.JPG"))"></div>
        <div class="four-title"><img src="@(Url.Content("~/Images/icon3.png"))"><p>&nbsp;&nbsp;愛車基本檔案</p></div>

        <div class="five-title"><p>車號:@(Model.LICSNO_F)</p><span>@(Model.USEFRE)</span></div>
        <div class="six-box">
            <div class="six-title">
                <div class="top">
                    <p>定期保養資訊</p><br/><span>@Model.FXDTYY<br>@(Model.FXDES)</span>
                    <a href="javascript:;" class="toggle"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
                </div>
                <div class="six-titletwo">
                    <p>更換項目</p>
                    <span>@(Model.CHANGEDSC)</span>
                </div>
            </div>
        </div>
    @if (Model.JLCDT != null || !string.IsNullOrEmpty(Model.JMV) || Model.KLCDT != null || !string.IsNullOrEmpty(Model.KMV) || Model.LLCDT != null || !string.IsNullOrEmpty(Model.LMV) || Model.ILCDT != null || !string.IsNullOrEmpty(Model.IMV) || Model.CLCDT != null || Model.DLCDT != null)
    {
    <div class="seven-box">
        <div class="seven-title toggle_two"><span class="add"><i class="fa" aria-hidden="true"></i></span>零件更換建議<a href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></div>
        <div class="toggle_wrap_two">
            @if (Model.JLCDT != null || !string.IsNullOrEmpty(Model.JMV))
            {
                <div class="list" id="JLCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon4.png"))">
                        <span>輪胎</span>
                    </div>
                    <div class="right">
                        @if (Model.JLCDT.HasValue)
                        {
                            <p>
                                已使用時間為：@((int)((DateTime.Today - Model.JLCDT.Value).TotalDays / 30))月
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(Model.JMV))
                        {
                            <p>
                                前次量測深度：@(Model.JMV)mm
                            </p>
                        }
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.KLCDT != null || !string.IsNullOrEmpty(Model.KMV))
            {
                <div class="list" id="KLCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon5.png"))">
                        <span style="font-size: 16px;">前煞車塊</span>
                    </div>
                    <div class="right">
                        @if (Model.KLCDT.HasValue)
                        {
                            <p>
                                已使用時間為：@((int)((DateTime.Today - Model.KLCDT.Value).TotalDays / 30))月
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(Model.KMV))
                        {
                            <p>
                                前次量測深度：@(Model.KMV)mm
                            </p>
                        }
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.LLCDT != null || !string.IsNullOrEmpty(Model.LMV))
            {
                <div class="list" id="LLCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon6.png"))">
                        <span style="font-size: 16px;">後煞車塊</span>
                    </div>
                    <div class="right">
                        @if (Model.LLCDT.HasValue)
                        {
                            <p>
                                已使用時間為：@((int)((DateTime.Today - Model.LLCDT.Value).TotalDays / 30))月
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(Model.LMV))
                        {
                            <p>
                                前次量測深度：@(Model.LMV)mm
                            </p>
                        }
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.ILCDT != null || !string.IsNullOrEmpty(Model.IMV))
            {
                <div class="list" id="ILCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon7.png"))">
                        <span>電瓶</span>
                    </div>
                    <div class="right">
                        @if (Model.ILCDT.HasValue)
                        {
                            <p>
                                已使用時間為：@((int)((DateTime.Today - Model.ILCDT.Value).TotalDays / 30))月
                            </p>
                        }
                        @if (!string.IsNullOrEmpty(Model.IMV))
                        {
                            <p>
                                前次量測數值：@(Model.IMV)
                            </p>
                        }
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.CLCDT != null)
            {
                <div class="list" id="CLCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon8.png"))">
                        <span style="font-size: 16px;">空調濾網</span>
                    </div>
                    <div class="right">
                        @*<div></div>*@
                        <p>
                            已使用時間為：@((int)((DateTime.Today - Model.CLCDT.Value).TotalDays / 30))月
                        </p>
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.DLCDT != null)
            {
                <div class="list" id="DLCDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon9.png"))">
                        <span style="font-size: 16px;">燃油<br>濾清器</span>
                    </div>
                    <div class="right">
                        <div></div>
                        <p>
                            已使用時間為：@((int)((DateTime.Today - Model.DLCDT.Value).TotalDays / 30))月
                        </p>
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            @if (Model.MCLDT != null)
            {
                <div class="list" id="MCLDT">
                    <div class="left">
                        <img src="@(Url.Content("~/Images/icon17.png"))">
                        <span style="font-size: 16px;">火星塞</span>
                    </div>
                    <div class="right">
                        <div></div>
                        <p>
                            已使用時間為：@((int)((DateTime.Today - Model.MCLDT.Value).TotalDays / 30))月
                        </p>
                        <p class="msg" style="font-weight: bold;">
                            根據行駛時間/里程判斷
                            &nbsp;&nbsp;&nbsp;&nbsp;>>
                            <span>建議回廠檢查更換</span>
                        </p>
                    </div>
                </div>
            }
            <div class="opps" style="font-size: x-small;">
                ＊注意：您的愛車零件更換時程因駕駛習慣、行駛條件而異，
                請依入廠實際檢查之建議進行更換，以上建議僅供參考。
            </div>
        </div>
    </div>
    }
        <div class="seven-box">
            <div class="seven-title toggle_three">利high好康<a href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></div>
            <div class="toggle_wrap_three">
                <div class="eight_title">您已累計<span class="blue">@(Model.POINT)</span>點利high金<br>歡迎回廠兌換精選商品：</div>
                <div class="width33" style="font-size: x-small;">
                    <img src="@Model.IMG1">
                        <p>@Model.PARTNM1</p>
                </div>
                <div class="width33" style="font-size: x-small;">
                    <img src="@Model.IMG2">
                        <p>@Model.PARTNM2</p>
                </div>
                <div class="width33" style="font-size: x-small;">
                    <img src="@Model.IMG3">
                    <p>@Model.PARTNM3</p>
                </div>
                <div>
                    <div class="width33" style="font-size: x-small;">
                        <h4 style="color:#ff8a00;">兌換點數 @((Model.POINT1 ?? 0).ToString("#,###")) 點</h4>
                    @if (Model.EXTRAAMT1 > 0)
                    {
                        <p style="margin-top: 0; color: #fe0000;">尚差 @((Model.EXTRAAMT1).ToString("#,###")) 元</p>
                    }
                    else
                    {
                        if (Model.POINT < Model.POINT1)
                         {
                             <p style="margin-top: 0; color: #fe0000;">差額點數@(((Model.POINT1 ?? 0) - Model.POINT).ToString("#,###")) 點</p>
                         }
                         else
                         {
                             <div style="height: 10px;"></div>
                         }
                    }
                    </div>
                    <div class="width33" style="font-size: x-small;">
                        <h4 style="color:#ff8a00;">兌換點數 @((Model.POINT2 ?? 0).ToString("#,###")) 點</h4>
                    @if (Model.EXTRAAMT2 > 0)
                    {
                        <p style="margin-top: 0; color: #fe0000;">尚差 @((Model.EXTRAAMT2).ToString("#,###")) 元</p>
                    }
                    else
                    {
                        if (Model.POINT < Model.POINT2)
                         {
                             <p style="margin-top: 0; color: #fe0000;">差額點數@(((Model.POINT2 ?? 0) - Model.POINT).ToString("#,###")) 點</p>
                         }
                         else
                         {
                             <div style="height: 10px;"></div>
                         }
                    }
                    </div>
                    <div class="width33" style="font-size: x-small;">
                        <h4 style="color: #ff8a00;">兌換點數 @((Model.POINT3 ?? 0).ToString("#,###")) 點</h4>
                        @if (Model.EXTRAAMT3 > 0)
                        {
                            <p style="margin-top: 0; color: #fe0000;">尚差 @((Model.EXTRAAMT3).ToString("#,###")) 元</p>
                        }
                        else
                        {
                            if (Model.POINT < Model.POINT3)
                             {
                                 <p style="margin-top: 0; color: #fe0000;">差額點數@(((Model.POINT3 ?? 0) - Model.POINT).ToString("#,###")) 點</p>
                             }
                             else
                             {
                                 <div style="height: 10px;"></div>
                             }
                        }
                    </div>

                </div>
            </div>
        </div>
        <div class="seven-box">
            <div class="seven-title toggle_four">活動快訊<a href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></div>
            <p class="inside toggle_wrap_four">@Html.Raw(Model.NDMMSG)</p>
        </div>
        <div class="seven-box">
            <div class="seven-title toggle_five">服務資訊<a href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a></div>
            <p class="inside toggle_wrap_five">@Html.Encode(Model.DMMSG)</p>
        </div>
        <div class="seven-box">
            <div class="seven-title toggle2 toggle_six">
                貼心提醒<a href="javascript:;"><i class="fa fa-chevron-circle-down" aria-hidden="true"></i></a>
            </div>
            <p class="inside toggle_wrap_six">@Html.Encode(Model.MEMO)</p>
        </div>
    </div>
    <link href="~/Content/sweetalert2.min.css" rel="stylesheet" />
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script>
        $(function () {
        //類別0：定保；1：保險函；2：感謝函; 3:機油券; 4:利high金; 5:利high金到期提醒; 6:利high金100
	new Fingerprint2().get(function(canvasID, components) { 
		$.ajax({
		    url: "/regularcare/PushClick/Add/",
		    type: "POST",
		    data: {
		        "DXID": '@Model.DXID',
		        "Type": 0,
		        "CanvasID": canvasID
		    },
		    dataType: "json"
		});
	});
            $(".toggle").click(function () {
                $(".six-titletwo").slideToggle(500);
            });
            $(".toggle_two").click(function () {
                $(".toggle_wrap_two").slideToggle(500);
            });
            $(".toggle_three").click(function () {
                $(".toggle_wrap_three").slideToggle(500);
            });
            $(".toggle_four").click(function () {
                $(".toggle_wrap_four").slideToggle(500);
            });
            $(".toggle_five").click(function () {
                $(".toggle_wrap_five").slideToggle(500);
            });
            $(".toggle_six").click(function () {
                $(".toggle_wrap_six").slideToggle(500);
            });
            $("#JLCDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />胎紋深度不足或胎齡過久容易影響輪胎抓地力，應定期檢查以確保行車安全。", "<label style='color: red;'>※提醒您，依法規定胎紋深度不得低於1.6mm<br>※車主手冊建議每萬公里或每半年檢查</label>");
            });
            $("#KLCDT,#LLCDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />若煞車塊厚度不足，車輛在煞車時會發出尖銳聲音，或是煞車力降低，應定期檢查以確保行車安全。", "<label style='color: red;'>※車主手冊建議每萬公里或每半年檢查</label>");
            });
            $("#ILCDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />為避免電瓶壽命耗盡、無法發動汽車，應定期回廠檢查以確保行車順暢。", "<label style='color: red;'>※車主手冊建議每萬公里或每年檢查</label>");
            });
            $("#CLCDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />空調濾網太髒時，無法有效過濾車內懸浮微粒，不僅容易孳生病菌，還會因冷氣阻抗變大造成冷房效果不佳，為保持車輛良好性能，應定期清潔及更換。", "<label style='color: red;'>※某些車型並未配備空調濾網<br>※車主手冊建議每萬公里更換</label>");
            });
            $("#DLCDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />為使燃油濾清器擁有良好過濾效果及避免油箱內累積過多雜質，需定期更換以確保行車安全與順暢。", "<label style='color: red;'>※車主手冊建議每8萬公里或8年檢查</label>");
            });
            $("#MCLDT").click(function () {
                swal("<img src='/HighBonus/images/warring.jpg' />火星塞到達使用壽命後，會有點火能力降低，進而導致燃油燃燒不完全、耗油又無力的狀況。情形嚴重的話，內部出現大量積碳，將影響車輛性能。", "<label style='color: red;'>※車主手冊建議每10萬公里更換</label>");
            });
        });
    </script>
    
</body>
</html>
<style>
    .swal2-modal .swal2-title {
        font-size: 26px;
    }
    .right {
        font-size: 12px;
    }
    @@media screen and (min-width: 900px) {
        .right {
            font-size: 18px;
        }
        .right .msg {
            font-size: 20px;
        }
        .right div {
            height: 0; 
        }
    }
    @@media screen and (max-width: 900px) {
        .right .msg {
            font-size: 14px;
        }
        .right div {
            height: 12px;
        }
    }
    .swal2-modal .swal2-title {
        font-size: 16px;
        text-align: left;
    }
    .swal2-modal .swal2-content {
        font-size: 12px;
        text-align: left;
        text-align: center;
    }
</style>